<h2>Consultar Reclamação</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="reclamacao">Número da Reclamação</label>
        <input type="text" formControlName="reclamacao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['reclamacao'].errors }" />
        <div *ngIf="submitted && f['reclamacao'].errors" class="invalid-feedback">
            <div *ngIf="f['reclamacao'].errors['required']">Campo número da reclamação é obrigatório!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p *ngIf="filter.length < 1">Nenhum resultado encontrado</p>
            <ul class="list-group" *ngIf="filter.length >= 1">
                <li class="list-group-item" *ngFor ="let item of filter">
                    <P>Id: {{ item.Id}}</P>
                    <P>Nome: {{ item.Nome}}</P>
                    <P>E-mail: {{ item.Email}}</P>
                    <P>Assunto: {{ item.Assunto}}</P>
                    <P>Descrição: {{ item.Descricao}}</P>
                    <P>Data: {{ item.Data}}</P>
                    <P>Pedido: {{ item.Pedido}}</P>
                    <P>Reclamacao: {{ item.Reclamacao}}</P>
                    <P>Status: {{ item.Status}}</P>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Consultar
        </button>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-md" (click)="navigateToLogin()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Voltar
        </button>
    </div>
</form>